.hero-section {
  width: 100%;
  background-image: url("src/assets/medicine.png");
  background-position: center;
  background-size: cover;
  height: 600px;
  margin-bottom: 20px; /* Increase or decrease the margin as needed */
}

.hero-container {
  margin: 0 auto;
  max-width: 100%;
 
}

.hero-content {
  padding: 6rem 1.5rem;
  text-align: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.hero-subtitle {
  margin-top: 3rem;
  font-size: 1.125rem;
  color: #666;
}

.hero-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.hero-search-input {
  width: 30%;
  height: 3rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 999px;
  outline: none;
  text-align: center;
}

.hero-search-button-container {
  margin-left: 1rem;
}

.hero-search-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  outline: none;
}

.hero-footer {
  margin-top: 3rem;
  font-size: 1rem;
  color: #4caf50;
}
